.container {
    border-left: 1px solid #666;
    width: 100%;
    height: 100%;
    margin: 12px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

.title {
    padding: 12px;
    border-bottom: 1px solid #666;
}

.message-container {
    flex: 1;
    border-bottom: 1px solid #666;
    margin-bottom: 12px;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 12px;
}

.message-sender {
    font-style: italic;
    display: block;
    margin-bottom: 6px;
}

.message-text {
    font-size: 110%;
}

.write-message {
    height: 120px;
    display: flex;

    textarea {
        flex: 1;
        height: 100%;
        margin-right: 4px;
    }

    button {
        height: 100%;
        margin-left: 4px;
    }
}
